{% extends 'layouts/front/main.html.twig' %}
{% block body %}
{% set about = bag.about %}
<div class="about_section layout_padding">
    <div class="container">
       <div class="row">
          <div class="col-md-6">
             <div class="about_taital_main">
                <div class="about_taital">A propos de nous</div>
                {{ about.contenu | raw  }}
             </div>
          </div>
          <div class="col-md-6">
             <div class="about_img"></div>
          </div>
       </div>
    </div>
 </div>
{% endblock %}