<div class="about_section layout_padding">
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="about_taital_main">
            <div class="about_taital">A propos de nous</div>
            {{ about.contenu | raw | u.truncate(300,'...',false) }}
            </div>
        </div>
        <div class="col-md-6">
            <div class="about_img"></div>
        </div>
    </div>
</div>
</div>