<div class="banner_section layout_padding">
<div class="container">
    <div id="main_slider" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner pt-6">
            {% for i,item in items %}
                <div class="carousel-item {{ i == 0 ? 'active' : '' }}">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="banner_taital">
                                <h1 class="outstanding_text">{{ item.titre }}</h1>
                                <div class="contenu_text">
                                    {{ item.contenu | u.truncate(200,'...',false) }}
                                </div>
                                <div class="learnmore_bt"><a href="#">Voir</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <a class="carousel-control-prev" href="#main_slider" role="button" data-slide="prev">
            <i class="fa fa-angle-left"></i>
        </a>
        <a class="carousel-control-next" href="#main_slider" role="button" data-slide="next">
            <i class="fa fa-angle-right"></i>
        </a>
    </div>
</div>
</div>