<div class="contact_section layout_padding">
    <div class="container">
       <h1 class="contact_text">Nous Contacter</h1>
    </div>
 </div>
 <div class="contact_section_2 layout_padding">
    <div class="container-fluid">
       <div class="row">
          <div class="col-md-12 padding_0">
             <div class="mail_section">
                <div class="email_text">
                   {{ contact_form('web_contact') }}
                </div>
             </div>
          </div>
          {#<div class="col-md-6 padding_0">
             <div class="map-responsive">
                <iframe src="https://www.google.com/maps/embed/v1/place?key=AIzaSyA0s1a7phLN0iaD6-UE7m4qP-z21pH0eSc&q=Eiffel+Tower+Paris+France" width="600" height="508" frameborder="0" style="border:0; width: 100%;" allowfullscreen></iframe>
             </div>
          </div>#}
       </div>
    </div>
</div>