<div class="gallery_section layout_padding">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h1 class="gallery_taital">Nos produits</h1>
                <p class="gallery_text">Lorem Ipsum is simply dummy text of printing typesetting ststry lorem Ipsum the industry'ndard dummy text ever since of the 1500s, when an unknown printer took a galley of type and scra make a type specimen book. It has</p>
            </div>
            <div class="list_product">
                {% for row in items | batch(3) %}
                <div class="gallery_section_2">
                    <div class="row">
                        {% for item in row %}
                            {% include 'front/home/includes/_item.html.twig' with {item:item} only %}
                        {% endfor %}
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>