<div class="gallery_section layout_padding">
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h1 class="gallery_taital">Nos produits</h1>
            <p class="gallery_text">Lorem Ipsum is simply dummy text of printing typesetting ststry lorem Ipsum the industry'ndard dummy text ever since of the 1500s, when an unknown printer took a galley of type and scra make a type specimen book. It has</p>
        </div>
    </div>
    <div class="">
        {% for row in items | batch(2) %}
        <div class="gallery_section_2">
            <div class="row">
                {% for item in row %}
                    <div class="col-md-6">
                        <div class="container_main">
                            <img src="{{ vich_uploader_asset(item,'file') }}" alt="{{ item.titre }}" class="image">
                            <div class="overlay">
                                <div class="text"><a data-toggle="modal" data-target="#produitModal{{item.id}}"><i class="fa fa-eye" aria-hidden="true"></i></a></div>
                                <!-- Modal -->
                                <div class="modal fade" id="produitModal{{item.id}}" tabindex="-1" role="dialog" aria-labelledby="produitModal{{item.id}}Title" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="produitModal{{item.id}}Title">{{ item.titre }}</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                {{ item.contenu | raw }}
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="seemore_bt"><a href="#">See More</a></div>
</div>
</div>