<div class="col-md-4 mt-2">
    <div class="card">
        <div class="card-body">
            <div class="card-img-actions"> <img src="{{ vich_uploader_asset(item,'file') }}" class="card-img img-fluid" width="96" height="350" alt=""> </div>
        </div>
        <div class="card-body bg-light text-center">
            <div class="mb-2">
                <h6 class="font-weight-semibold mb-2"> 
                    <a href="#" class="text-default mb-2" data-abc="true">
                        {{ item.titre }}
                    </a> 
                </h6>
            </div>
            <h3 class="mb-0 font-weight-semibold">{{ item.prix | format_number(0,'KMF') }}</h3>
            <button type="button" class="btn bg-cart"><i class="fa fa-cart-plus mr-2"></i> Add to cart</button>
        </div>
    </div>
</div>