<div class="services_section layout_padding">
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h1 class="services_taital">Nos produits</h1>
            <p class="services_text">Typesetting industry lorem Ipsum is simply dummy text of the </p>
        </div>
    </div>
    <div class="services_section_2">
        <div class="row">
            {% for item in items %}
            <div class="col-lg-4 col-sm-12 col-md-4">
                <div class="box_main active">
                    <div class="house_icon">
                        <img src="{{ vich_uploader_asset(item,'file') }}" class="image_1">
                        <img src="images/icon1.png" class="image_2">
                    </div>
                    <h3 class="decorate_text">JGOJGJLBLJB</h3>
                    <p class="tation_text">{{ item.contenu | u.truncate(200,'...',false) }}</p>
                    <div class="readmore_bt"><a href="#">Read More</a></div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
</div>