<div class="client_section layout_padding">
    <div class="container">
       <div class="row">
          <div class="col-sm-12">
             <h1 class="client_taital">Temoignages</h1>
             <p class="client_text">Eeven slightly believable. If you are going to use a passage of Lorem Ipsum, you need to</p>
          </div>
       </div>
    </div>
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            {% for item in items %}
                <li data-target="#carouselExampleIndicators" data-slide-to="{{ loop.index0 }}" {% if loop.index == 1 %}class="active"{% endif %}></li>
            {% endfor %}
        </ol>
        <div class="carousel-inner">
            {% for item in items %}
                <div class="carousel-item {% if loop.index == 1 %}active{% endif %}">
                    <div class="client_section_2">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="testimonial_section_2">
                                        <h4 class="client_name_text">{{ item.auteur }} <span class="quick_icon"></span></h4>
                                        <div class="client_message_text">{{ item.contenu | raw }}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>