{% set about = bag.about %}
<div class="footer_section layout_padding">
   <div class="container">
      <div class="row">
         <div class="col-lg-9 col-sm-9">
            <h3 class="useful_text">A propos de nous</h3>
            <div class="footer_text">{{ about.contenu | raw }}</div>
         </div>
         <div class="col-lg-3 col-sm-3">
            <h1 class="useful_text">Nous contacter</h1>
            <div class="location_text">
               <ul>
                  <li>
                     <a href="#">
                        <i class="fa fa-map-marker" aria-hidden="true"></i><span class="padding_left_10">Addresse : {{ about.adresse }}</span>
                     </a>
                  </li>
                  <li>
                     <a href="#">
                        <i class="fa fa-phone" aria-hidden="true"></i><span class="padding_left_10">Téléphone : {{ about.telephone }}</span>
                     </a>
                  </li>
                  <li>
                     <a href="#">
                        <i class="fa fa-envelope" aria-hidden="true"></i><span class="padding_left_10">Email : {{ about.email }}</span>
                     </a>
                  </li>
                  <li>
                     <a href="www.facebook.com" class="btn btn-rounded">
                        <i class="fab fa-3x fa-facebook-square" aria-hidden="true"></i>
                     </a>
                     <a href="www.instagram.com" class="btn btn-rounded">
                        <i class="fab fa-3x fa-instagram-square" aria-hidden="true"></i>
                     </a>
                     <a href="www.twitter.com" class="btn btn-rounded">
                        <i class="fab fa-3x fa-twitter-square" aria-hidden="true"></i>
                     </a>
                  </li>
               </ul>
            </div>
         </div>
      </div>
   </div>
</div>