<div class="header_section">
    <div class="container-fluid">
       <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <div class="logo"><a href="{{ path('web_index') }}"><img class="img_logo" src="{{ asset('build/vendor/coffee/images/logo.jpg') }}"></a></div>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
              {% set route = app.request.get('_route') %}
             <ul class="navbar-nav ml-auto">
                <li class="nav-item {{ route == 'web_index' ? 'active' : '' }}">
                   <a class="nav-link" href="{{ path('web_index') }}">Acceuil</a>
                </li>
                <li class="nav-item {{ route == 'web_about' ? 'active' : '' }}">
                   <a class="nav-link" href="{{ path('web_about') }}">A propos de nous</a>
                </li>
                <li class="nav-item {{ route == 'web_galleries' ? 'active' : '' }}">
                   <a class="nav-link" href="{{ path('web_galleries') }}">Galérie</a>
                </li>
                <li class="nav-item">
                   <a class="nav-link" href="services.html">Services</a>
                </li>
                <li class="nav-item {{ route == 'web_contact' ? 'active' : '' }}">
                   <a class="nav-link" href="{{ path('web_contact') }}">Nous contacter</a>
                </li>
                <li class="nav-item">
                   <a class="nav-link" href="#"><i class="fa fa-search" aria-hidden="true"></i></a>
                </li>
             </ul>
          </div>
       </nav>
    </div>
</div>