<script type="text/javascript" src="{{ asset('build/js/app.js') }}"></script> 
<script type="text/javascript" src="{{ asset('build/vendor/coffee/js/plugin.js') }}"></script>
<!-- sidebar -->
<script type="text/javascript" src="{{ asset('build/vendor/coffee/js/jquery.mCustomScrollbar.concat.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('build/vendor/coffee/js/custom.js') }}"></script> 

<script src="{{ asset('bundles/mercuryseriesflashy/js/flashy.js') }}"></script>
<!-- Include Flashy default partial -->
{{ include('@MercurySeriesFlashy/flashy.html.twig') }}