<link rel="stylesheet" href="{{ asset('build/css/app.css') }}">
<!-- style css -->
<link rel="stylesheet" type="text/css" href="{{ asset('build/vendor/coffee/css/style.css') }}">
<!-- Responsive-->
<link rel="stylesheet" href="{{ asset('build/vendor/coffee/css/responsive.css') }}">
<!-- fevicon -->
<link rel="icon" href="{{ asset('build/vendor/coffeeimages/noor/logo.png') }}" />
<!-- Scrollbar Custom CSS -->
<link rel="stylesheet" href="{{ asset('build/vendor/coffee/css/jquery.mCustomScrollbar.min.css') }}">
      
<!-- owl stylesheets --> 
<link rel="stylesheet" href="{{ asset('build/vendor/coffee/css/owl.carousel.min.css') }}">
<link rel="stylesheet" href="{{ asset('build/vendor/coffee/css/jquery.fancybox.min.css') }}" media="screen">
<link rel="stylesheet" href="{{ asset('bundles/mercuryseriesflashy/css/flashy.css') }}">
