{% extends 'layouts/front/main.html.twig' %}
{% block body %}
   {% include 'front/home/includes/_banner.html.twig' with {items:posts} only %}
   {#{% include 'front/home/includes/_about.html.twig' with {about:bag.about} only %}#}
   {% include 'front/home/includes/_gallery.html.twig' with {items:produits} only %}
   {#{% include 'front/includes/home/_services.html.twig' %}#}
   {% include 'front/home/includes/_testimonials.html.twig' with {items:temoignages} only %}
   {% include 'front/home/includes/_contact.html.twig' %}

   <!-- contact section end -->
{% endblock %}