<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
    <head>
        <!-- basic -->
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- mobile metas -->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="viewport" content="initial-scale=1, maximum-scale=1">
        <!-- site metas -->
        <title>{% block title %}{% endblock %}</title>
        <meta name="keywords" content="">
        <meta name="description" content="">
        <meta name="author" content="">
        {% include 'layouts/front/includes/_styles.html.twig' only %}
        {% block head_js %}{% endblock %}
        {% block styles %}{% endblock %}
    </head>
    <body>
        {% include 'layouts/front/includes/_header.html.twig' only %}
        
        {% block body %}{% endblock %}

        {% include 'layouts/front/includes/_footer.html.twig' only %}

        {% include 'layouts/front/includes/_copyright.html.twig' only %}

        {% include 'layouts/front/includes/_scripts.html.twig' only %}

        {% block scripts %}{% endblock %}
    </body>
</html>