<div class="col-md-4">
    <div class="container_main">
       <img src="{{ vich_uploader_asset(item,'file') }}" alt="Avatar" class="image">
       <div class="overlay">
          <div class="text"><a href="#"><i class="fa fa-search" aria-hidden="true"></i></a></div>
       </div>
    </div>
 </div>