@import "./modules/bootstrap/bootstrap.scss";
@import "~@fortawesome/fontawesome-free/css/all.min.css";


#main_slider{
    padding-top: 5em;
}

button.main_bt{
    background-color: #dc3545bf;
}

.gallery_section_2 {
    width: 100%;
    float: left;
    padding-top: 50px;
    .mt-50 {
        margin-top: 50px
    }
    
    .mb-50 {
        margin-bottom: 50px
    }
    
    .card {
        position: relative;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: column;
        flex-direction: column;
        min-width: 0;
        word-wrap: break-word;
        background-color: #fff;
        background-clip: border-box;
        border: 1px solid rgba(0, 0, 0, .125);
        border-radius: .1875rem
    }
    
    .card-img-actions {
        position: relative
    }
    
    .card-body {
        -ms-flex: 1 1 auto;
        flex: 1 1 auto;
        padding: 1.25rem;
        text-align: center
    }
    
    .card-img {
        width: 350px
    }
    
    .star {
        color: red
    }
    
    .bg-cart {
        background-color: orange;
        color: #fff
    }
    
    .bg-cart:hover {
        color: #fff
    }
    
    .bg-buy {
        background-color: green;
        color: #fff;
        padding-right: 29px
    }
    
    .bg-buy:hover {
        color: #fff
    }
    
    a {
        text-decoration: none !important
    }
}