{{ form_start(form) }}
    <div class="form-group">
        {{ form_widget(form.name,{
            'attr':{
                'class':'email-bt'
            }
        }) }}
    </div>
    <div class="form-group">
        {{ form_widget(form.email,{
            'attr':{
                'class':'email-bt'
            }
        }) }}
    </div>
    <div class="form-group">
        {{ form_widget(form.phone,{
            'attr':{
                'class':'email-bt'
            }
        }) }}
    </div>
    <div class="form-group">
        {{ form_widget(form.message,{
            'attr':{
                'class':'massage-bt',
                'rows':'5'
            }
        }) }}
    </div>
    <div class="send_btn">
        <button class="btn btn-rounded btn-outline main_bt" type="submit">SEND</button>
    </div>
{{ form_start(form) }}