{% extends 'layouts/front/main.html.twig' %}
{% block body %}
<div class="contact_section layout_padding">
    <div class="container">
        <h1 class="contact_text">Nous contacter</h1>
    </div>
 </div>
 <div class="contact_section_2 layout_padding">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 padding_0">
                <div class="mail_section">
                    <div class="email_text">
                        {{ contact_form('web_contact') }}
                    </div>
                </div>
            </div>
            <div class="col-md-6 padding_0">
                <div class="about_img"></div>
            </div>
        </div>
    </div>
 </div>
{% endblock %}